.rank-display {
  color: #bbb5ac;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 40px auto;
}
.rank {
  display: none;
}

select {
  padding: 10px 20px;
  padding-right: 50px;
  color: black;
  border-radius: 5px;
  background-color: grey;
}

option {
  color: white;
}
